.about .about-img {
    min-height: 500px;
    /* min-width: 500px; */
    background-size: cover;
    background-position: center;
  }

.about .about-img-artist{
    min-height: 450px;
}


.about .about-img-venue{
  min-height: 450px;
}